@page "/"
@attribute [Authorize]
@inject ILocalStorageService LocalStorageService
@inject INakedService NakedService
@inject NavigationManager NavigationManager

@if (User == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Hello @User.Profile.FirstName @User.Profile.LastName </h1>
    <p>Welcome to your bank. Your last access was @User.Profile.LastAccessAt.ToLongTimeString()</p>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Consolidated Founds</div>
                    <div class="card-body">
                        <p class="card-text h1">R$ @User.Accounts?.Sum(a => a.Balance)</p>
                    </div>
                </div>
            </div>
            @foreach (var account in User.Accounts)
            {
                <div class="col-4">
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                        <div class="card-header">Branch: @account.BranchId Acc: @account.AccountNumber</div>
                        <div class="card-body">
                            <p class="card-text h1">R$ @account.Balance</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code
    {
    protected override async Task OnInitializedAsync()
    {
        User = await LocalStorageService.GetItem<User>("User");

        if (User == null)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            User.Accounts = await NakedService.GetAccounts();

        }
    }

    private User User;
}